<div class="main-container">
  <header class="header header-6">
    <div class="branding">
      <a class="nav-link">
        <img src="favicon.png" class="logo">
        <span class="title">
          Supermemo App
        </span>
      </a>
    </div>
  </header>

  <div class="content-container">
    <div class="content-area">
      <clr-tabs>
        <clr-tab>
          <button clrTabLink>Vocabulary</button>
          <clr-tab-content *clrIfActive>
            <app-word-selector [completedWord]="[]" (select)="wordsSelected($event)"></app-word-selector>
          </clr-tab-content>
        </clr-tab>

        <clr-tab *ngIf="trainingList.length">
          <button clrTabLink>Training</button>
          <clr-tab-content *clrIfActive>
            <app-word-sorter [trainingList]="trainingList"></app-word-sorter>
          </clr-tab-content>
        </clr-tab>

        <clr-tab>
          <button clrTabLink>Settings</button>
          <clr-tab-content *clrIfActive>
            <clr-input-container>
                <label>Words count</label>
                <input type="number" min=1 max=10 clrInput placeholder="Words count" name="name" />
            </clr-input-container>            
            <clr-toggle-container>
              <label>Select languages</label>
              <clr-toggle-wrapper>
                <input type="checkbox" clrToggle name="options" required value="English" />
                <label>English</label>
              </clr-toggle-wrapper>
              <clr-toggle-wrapper>
                <input type="checkbox" clrToggle name="options" required value="Spain"  disabled/>
                <label>Spain</label>
              </clr-toggle-wrapper>
              <clr-toggle-wrapper>
                <input type="checkbox" clrToggle name="options" required value="French" disabled/>
                <label>French</label>
              </clr-toggle-wrapper>
            </clr-toggle-container>
          </clr-tab-content>
        </clr-tab>
      </clr-tabs>
    </div>
  </div>
</div>