<div class="main-container">
  <header class="header header-6">
    <div class="branding">
      <a class="nav-link">
        <img src="favicon.png" class="logo">
        <span class="title">
          Supermemo App
        </span>
      </a>
    </div>
  </header>

  <div class="content-container">
    <div class="content-area">
      <clr-tabs>
        <clr-tab>
          <button clrTabLink>Vocabulary</button>
          <clr-tab-content *clrIfActive>
            <app-word-selector [completedWord]="[]" (select)="wordsSelected($event)"></app-word-selector>
          </clr-tab-content>
        </clr-tab>

        <clr-tab *ngIf="trainingList.length">
          <button clrTabLink>Training</button>
          <clr-tab-content *clrIfActive>
              {{ trainingList }}
          </clr-tab-content>
        </clr-tab>

        <clr-tab>
          <button clrTabLink>Settings</button>
          <clr-tab-content *clrIfActive>
            ...
          </clr-tab-content>
        </clr-tab>
      </clr-tabs>
    </div>
  </div>
</div>